$textColor: #fff;
$blackColor: #000;
$submitColor: #099268;
$submitHoverColor: #0A7A52;
$inputBackground: #25262B;
$inputColor: #B9BBBD;
$inputPlaceholderColor: #B9BBBD;
$apiItemsBackground: #1A1B1E;
$navigationItemsHoverColor: #ebd9d9;
$paginationContainer: #B7C2C5;
$pageNumberBackground: #25262B;
$pageNumberHoverBackground: #1A1B1E;
